@model WebModel.Department
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/iconfont/css")
    @Scripts.Render("~/bundles/js")
</head>

<body>

    <div class="place">
        <span>Position : </span>
        <ul class="placeul">
            <li><a href="#">GroupManage</a></li>
            <li><a href="#">Set Up</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle"><span>GroupInfoMation</span></div>
        <form id="form1">
            <ul class="forminfo">
                @Html.Hidden("ID", Model.ID)
                <li>
                    <label>Match<b>*</b></label>
                    <div class="vocation">
                        @Html.DropDownList("SaiShiID", (List<SelectListItem>)ViewData["saishiselect"], new { @class = "select1" })
                    </div>
                </li>
                <li><label>GroupName</label><input id="Name" name="Name" type="text" class="dfinput" tag="empty" value="@Model.Name"  msg="GroupName" /><i></i></li>
                <li><label>&nbsp;</label><input name="" type="button" id="savebtn" class="btn" value="Confirm Save" /><input name="" type="button" onclick="javascript:history.go(-1)" class="btnfanhui" value="Return" /></li>
            </ul>
        </form>
    </div>
</body>

</html>
<script type="text/javascript">
    $(".select1").uedSelect({
        width: 345
    });
    $("#savebtn").click(function () {
        $.yanzheng("/Department/EditDepartmentForm", "#form1", "/Department/Index");
	})
</script>
